@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 5rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: 
  linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
  url("public/HomepageImage.jpeg");
  background-size: cover;
  color: rgb(255, 255, 255)
}

.app .clock {
  margin-left: -25px;
}

.app .search {
  text-align: center;
  padding: 1.5rem;
}

.app .startSearch {
  left: 50%;
  top: 50%;
  margin-top: -160px; 
  margin-left: -170px; 
  position: absolute;
}

.app .startInput {
  text-align: center;
  padding: 0.7rem 5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

.app Input {
  text-align: center;
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  text-align: center;
  max-width: 700px;
  height: 500px;
  margin: auto;
  padding: 2rem;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .startClock {
  position: relative;
}

.app .top {
  width: 100%;
  padding: 2rem;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: -4rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2)
}


.bold {
  font-weight: 700;
}